.flex-start {
    display: flex;
    flex-direction: column;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.space-around {
    display: flex;
    justify-content: space-around;
}

.space-evelyn {
    display: flex;
    justify-content: space-evenly;
}